canvas {
  position: fixed;
  top: 0;
}
main {
  padding: 2rem;
}
.home {
  z-index: 1;
  .top-content {
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
    gap: 2rem;
    position: relative;
    .content-item {
      max-width: 421px;
      min-width: 300px;
      display: flex;
      align-items: center;
    }
    .text {
      text-align: justify;
      color: #fff;
      font-size: 18px;
      font-family: "Roboto Mono", sans-serif;
    }
  }
}


@media screen and (max-width: 768px) {
  .home {
    .top-content {
      flex-direction: column-reverse;
    }
  }
}
