<section class="home">
  <canvas #oasis id="oasis"></canvas>
  <section class="top-content">
    <div class="text content-item">
      "Дорогі юнаки й дівчата, буду радий бачити, як ви біжите вперед швидше від повільних і боязких. Біжіть, приваблені тим дуже любим Обличчям, яке адоруємо в Пресвятій Євхаристії та розпізнаємо в тілі страждаючого брата чи сестри… Церква потребує вашого пориву, вашої чуйності, вашої віри… А коли прибудете туди, куди ми ще не дійшли, наберіться терпеливості, щоб нас дочекатися"(Папа Франциск, Christus Vivit 9,299).
    </div>
    <div class="image content-item">
      <img src="assets/images/logo2.webp" alt="oasis">
    </div>
  </section>
  <main>
    <section *ngIf="events.length" class="events">
      <h1 class="title">Ми чекаємо на тебе!</h1>
      <app-card [events]="events"></app-card>
    </section>
    <section class="socials">
      <h1 class="title">ОАЗИС повсюди</h1>
      <social-card></social-card>
    </section>
  </main>
</section>
