canvas {
  position: fixed;
  top: 0;
}
main {
  padding: 2rem;
}

.home {
  z-index: 1;
  .top-content {
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
    gap: 2rem;
    position: relative;
    .content-item {
      max-width: 421px;
      min-width: 300px;
      display: flex;
      align-items: center;
    }
    .text {
      text-align: justify;
      color: #fff;
      font: 800 normal normal 16px / 32px "Roboto Mono";
    }
  }
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  font-family: "Roboto Mono", sans-serif !important;
  height: auto;
  font-size: 3rem !important;
  font-weight: bold !important;
  margin: 3rem 0 !important;
  line-height: normal!important;
  background: linear-gradient(45deg, #ff00c8 25%, #00b8ff 65%, #011354);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  text-shadow: 0 0 5px rgb(0 20 255 / 20%), -3px 3px 5px rgb(0 20 255 / 20%), -6px 6px 5px rgb(0 20 255 / 20%), -9px 9px 5px rgb(0 20 255 / 20%);
}


@media screen and (max-width: 768px) {
  .home {
    .top-content {
      flex-direction: column-reverse;
    }
  }
}
