.navigate {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 100;
  .menu-item {
    display: flex;
    align-items: center;
    padding: 10px 1rem;
    gap: 1rem;
    overflow: hidden;
    transition: 1s ease-in;
    cursor: pointer;
    transform: translateX(80px);
    clip-path: polygon(43% 0%, 43% 100%, 0% 100%, 0% 0%);
    border-radius: 1rem 0 0 1rem;
    span {
      font-weight: bold;
    }
    &:hover {
      background: rgb(0 0 0 / 60%);
      transform: translateX(0px);
      clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
    }
  }
}
