<section class="navigate">
  <div class="menu">
    <div
      routerLink="accordion"
      class="menu-item"
    >
      <button mat-icon-button>
        <mat-icon>
          view_carousel
        </mat-icon>
      </button>
      <span>Цитатки</span>
    </div>
    <div
      routerLink="tiles"
      class="menu-item"
    >
      <button mat-icon-button>
        <mat-icon>grid_view</mat-icon>
      </button>
      <span>Плиточки</span>
    </div>
    <div
      routerLink="videos"
      class="menu-item"
    >
      <button mat-icon-button>
        <mat-icon>videocam</mat-icon>
      </button>
      <span>Відео</span>
    </div>
    <div
      routerLink="videos-study"
      class="menu-item"
    >
      <button mat-icon-button>
        <mat-icon>smart_display</mat-icon>
      </button>
      <span>Відео навчання</span>
    </div>
  </div>
</section>
