.card-container {
  display: flex;
  justify-content: space-around;
  transform-style: preserve-3d;
  flex-wrap: wrap;
  gap: 4rem;
  perspective: 2000px;

  .card-content {
  }
  .card {
    position: relative;
    width: 250px;
    overflow: hidden;
    border: none;
    border-radius: 15px;
    transform-style: inherit;
    transition: all 1s ease-in;
    background: #00000054;
    &:nth-child(1) {
      transform: rotateX(40deg) rotateY(40deg);
      box-shadow: 0 0 50px 5px rgb(146 73 212 / 60%),
      inset 0 0 0 137px rgba(59, 3, 101, 0.8),
      inset 0 0 0 3px #f3eded73;
    }
    &:nth-child(2) {
      transform: rotateX(40deg) rotateY(0deg);
      box-shadow: 0 0 50px 5px rgb(36 0 173 / 60%), inset 0 0 0 137px rgb(36 0 173 / 80%), inset 0 0 0 3px #f3eded73;
    }
    &:nth-child(3) {
      transform: rotateX(40deg) rotateY(-40deg);
      box-shadow: 0 0 50px 5px rgb(0 81 164 / 60%), inset 0 0 0 137px rgb(0 81 164 / 80%), inset 0 0 0 3px #f3eded73;
    }
    &:hover {
      transform: rotate(0);
    }
    img {
      height: 180px;
      width: 100%;
      object-fit: cover;
      filter: opacity(60%);
    }
    .text {
      font-family: Roboto Mono, sans-serif;
      padding: 15px 15px 0;
      text-align: justify;
      transform-style: inherit;
    }
    .side {
      width: 50%;
      height: 100%;
      top: 0;
      position: absolute;
    }
    .actions {
      transform-style: inherit;
      z-index: 1;
      display: flex;
      justify-content: center;
      gap: 2rem;
      padding-bottom: 1rem;
      button {
        border: 2px solid;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .right-side {
      right: 0;
    }
    .left-side {
      left: 0;
    }
  }
}

@media (max-width: 1024px) {
  .card {
    transform: rotate(0)!important;
  }
}
