<section class="card-container">
    <div *ngFor="let event of events" class="card">
      <img [src]="event.event.image" alt="event">

      <div class="text">
        <h3 class="title">
          {{event.event.title}}
        </h3>
        <p>{{event.event.paragraphs[0]}}</p>
      </div>
      <div class="actions">
        <button
          mat-icon-button
        >
          <mat-icon
            (click)="share(event.id, event.event)"
          >share</mat-icon>
        </button>
        <button
          [routerLink]="['/jun/event/', event.id]"
          mat-icon-button
        >
          <mat-icon>play_arrow</mat-icon>
        </button>
      </div>
    </div>
</section>
