.navigate {
  position: fixed;
  top: 30%;
  left: 0;
  z-index: 100;
  .menu-item {
    display: flex;
    align-items: center;
    padding: 10px 1rem;
    gap: 1rem;
    overflow: hidden;
    transition: 1s ease-in;
    cursor: pointer;
    clip-path: polygon(35% 0%, 35% 100%, 0% 100%, 0% 0%);
    border-radius: 0 1rem 1rem 0;
    span {
      font-weight: bold;
      width: 100%;
      text-align: center;
    }
    &:hover {
      background: rgb(0 0 0 / 60%);
      clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
    }
  }
}
