<section class="list">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let event of events | async">
      <mat-expansion-panel-header>
        {{event.title}}
      </mat-expansion-panel-header>
      <div class="action-wrapper">
        <button
          color="accent"
          mat-raised-button
          [routerLink]="['/admin', type, 'event', 'update', event.id]"
        >Редагувати</button>
        <button
          color="primary"
          mat-raised-button
          [routerLink]="['/admin', type, 'event', event.id]"
        >Переглянути учасників</button>
        <button
          (click)="delete(event)"
          color="warn"
          mat-raised-button
        >Видалити</button>
        <button
          color="warn"
          mat-raised-button
          (click)="updateStatus(event, 'End')"
        >Завершити реєстрацію</button>
        <button
          color="warn"
          mat-raised-button
          (click)="updateStatus(event, event.statusReg === 'Active' ? 'Stop' : 'Active')"
        >Зупинити/продовжити реєстрацію</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <button
    class="add-event"
    mat-icon-button
    [routerLink]="['/admin', type, 'event', 'create']"
  >
    <mat-icon>add</mat-icon>
  </button>
</section>
