<mat-dialog-content>
    <form [formGroup]="form">
      <div class="full-name two-input">
        <div
          class="input-wrapper"
        >
          <mat-form-field
            appearance="fill"
          >
            <mat-label>Ім'я</mat-label>
            <input
              type="text"
              formControlName="name"
              matInput
              required
            >
          </mat-form-field>
          <p *ngIf="!form.controls.name.valid && form.controls.name.touched">
            Заповність це поле
          </p>
        </div>
        <div class="input-wrapper">
          <mat-form-field
            appearance="fill"
          >
            <mat-label>Прізвище</mat-label>
            <input
              type="text"
              formControlName="surname"
              matInput
              required
            >
          </mat-form-field>
          <p *ngIf="!form.controls.surname.valid && form.controls.surname.touched">
            Заповність це поле
          </p>
        </div>
      </div>
      <div class="age input-cont">
        <div class="input-wrapper">
          <mat-form-field appearance="fill">
            <mat-label>Дата народження</mat-label>
            <input
              required
              (dateChange)="calculateAge()"
              matInput
              autocomplete="off"
              formControlName="birthday"
              [matDatepicker]="picker"
              (focus)="picker.open()"
              readonly
            >
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <p *ngIf="form.controls.birthday.touched && +form.value.age === 0">
            Учасник не може мати 0 років
          </p>
          <p *ngIf="!!form.value.age && 12 > form.value.age && data.type === 'jun'">
            Учасник не може мати менше 12 років
          </p>
          <p *ngIf="!!form.value.age && form.value.age > 18">
            Учасник не може мати більше 18 років
          </p>
        </div>
      </div>
      <div class="city input-cont">
        <div class="input-wrapper">
          <mat-form-field appearance="fill">
            <mat-label>Місто</mat-label>
            <input
              required
              type="text"
              matInput
              formControlName="city"
            >
          </mat-form-field>
          <p *ngIf="!form.controls.city.valid && form.controls.city.touched">
            Заповність це поле
          </p>
        </div>
      </div>
      <div class="sex input-cont">
        <div class="input-wrapper">
          <mat-form-field appearance="fill">
            <mat-label>Ти?</mat-label>
            <mat-select
              required
              formControlName="sex"
            >
              <mat-option value="Хлопець">Хлопець</mat-option>
              <mat-option value="Дівчина">Дівчина</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="phone two-input">
        <div class="input-wrapper">
          <mat-form-field appearance="fill">
            <mat-label>Телефон учасника</mat-label>
            <input
              required
              matInput
              type="tel"
              formControlName="phone"
            >
          </mat-form-field>
        </div>
        <div class="input-wrapper">
          <mat-form-field appearance="fill">
            <mat-label>Телефон батьків</mat-label>
            <input
              required
              matInput
              type="tel"
              formControlName="parentPhone"
            >
          </mat-form-field>

        </div>
      </div>
      <mat-list>
        <mat-list-item>
          <mat-slide-toggle formControlName="isTelegram">
            <img src="assets/images/telegram.svg" alt="Telegram">
          </mat-slide-toggle>
        </mat-list-item>
        <mat-list-item>
          <mat-slide-toggle formControlName="isViber">
            <img src="assets/images/viber.svg" alt="Telegram">
          </mat-slide-toggle>
        </mat-list-item>
        <mat-list-item>
          <mat-slide-toggle formControlName="isWhatsApp">
            <img src="assets/images/whatsapp.svg" alt="Telegram">
          </mat-slide-toggle>
        </mat-list-item>
      </mat-list>
      <div class="itWas two-input">
        <div class="itWasChild">
          <mat-label>Бував(ла) на дитячому Оазисі?</mat-label>
          <mat-radio-group formControlName="itWasChild" class="radios" aria-label="Обери варіант">
            <mat-radio-button value="true">Так, бував(ла)</mat-radio-button>
            <mat-radio-button value="false">Ні, не бував(ла)</mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngIf="data.type === 'jun'" class="itWasJun">
          <mat-label>Бував(ла) на молодіжному Оазисі?</mat-label>
          <mat-radio-group formControlName="itWasJun" class="radios" aria-label="Обери варіант">
            <mat-radio-button value="true">Так, бував(ла)</mat-radio-button>
            <mat-radio-button value="false">Ні, не бував(ла)</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="i-belong input-cont">
        <mat-form-field appearance="fill">
          <mat-label>Ти?</mat-label>
          <mat-select formControlName="iBelong">
            <mat-option value="Римо-католик">Римо-католик</mat-option>
            <mat-option value="Греко-католик">Греко-католик</mat-option>
            <mat-option value="Протестант">Протестант</mat-option>
            <mat-option value="Православний">Православний</mat-option>
            <mat-option value="Інше">Інше</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="email input-cont">
        <div class="input-wrapper">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              required
              matInput
              formControlName="email"
            >
          </mat-form-field>

        </div>
      </div>
      <div *ngIf="data.type === 'child'" class="input-cont">
        <mat-form-field appearance="fill">
          <mat-label>Сповідаєшся?</mat-label>
          <input
            matInput
            formControlName="youConfess"
          >
        </mat-form-field>
      </div>
      <div class="notes input-cont">
        <mat-form-field appearance="fill">
          <mat-label>Побажання, стан здоров'я та інше</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    color="accent"
    mat-raised-button
    (click)="registration()"
    [disabled]='!form.valid'
  >
    Зареєструватися
  </button>
</mat-dialog-actions>
