<section
  class="event"
>
  <div class="top__content">
    <div class="image item">
      <img src="assets/images/baner2.jpg" alt="">
    </div>
    <div class="text item">
      <div class="name">
        Осінній Оазис
      </div>
      <div class="texts">
        <p>
          Ти, мабуть, вже з нетерпінням чекаєш на нашу чергову зустріч. Тому для тебе є хороша новина: вона відбудеться з 17 по 27 липня 2021 р.
        </p>
        <p>
          Запрошуємо молодь віком від 13 до 17 років провести у Карпатах незабутній час з Богом та друзями, як зі старими, так і з новими. Місце проведення Оазису: Дитяче селище "Яблуниця" (с. Татарів, Івано-Франківська обл.)
        </p>
        <p>
          Для того щоб взяти в Оазисі участь НЕОБХІДНО (без виконання цих пунктів участь в Оазисі неможлива):
        </p>
        <p>
          1) Зареєструватися на нашому сайті (якщо цього ще не зробили);
        </p>
        <p>
          2) Внести (якщо цього ще не зробили) завдаток 350 грн (вартість доби проживання, не повертається) на картку Райффайзен Банк Аваль 4149 5100 9042 7172 Sladana Novoselec (с. Божена) в примітках вказати «Оазис Яблуниця» та ім’я учасника. Квитанцію про сплату потрібно буде пред’явити по приїзді в табір;
        </p>
        <p>
          3) Пред’явити медичну довідку форми 079 (не давніша 6-місяців);
        </p>
        <p>
          4) Надати копію свідоцтва про народження дитини, або ID-картки, або паспорта;
        </p>
        <p>
          5) Взяти необхідні особисті ліки (за потреби).
        </p>
        <p>
          6) Роздрукувати, заповнити й віддати при реєстрації ДОКУМЕНТИ (заповнюються батьками).
        </p>
        <div class="document">
          Тут можна завантажити <button mat-button>Документи</button>
        </div>
        <div class="price">
          Вартість: 3500 грн + 50 грн (адмінзбір). Якщо немаєш змоги оплатити повну вартість – телефонуй с. Божені 063 983 21 97
        </div>
        <div class="it__will">
          <p style="text-align: center">
            Початок 17.07.2021 о 17:00, завершення 27.07.2021 о 12:00
          </p>
          <p>
            Батьки мають самостійно подбати про вчасний доїзд на табір і повернення до дому своєї дитини.
          </p>
        </div>
      </div>
      <button class="going">
         Я їду
      </button>
    </div>
  </div>
  <div class="another__info">

  </div>
</section>

