.top__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  flex-wrap: wrap;
  position: relative;
  .item {
    width: 50%;
  }
  .image {
    max-width: 500px;
    min-width: 300px;
    overflow: hidden;
    border-radius: 3rem;
    box-shadow: -5px -5px 30px 5px rgb(169 3 3 / 50%), 5px 5px 30px 5px #0900908f;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    .name {
      font-size: 3rem;
      text-align: center;
      text-transform: uppercase;
      font-weight: 800;
      color: rgba(255, 255, 255, 0.5);
      text-shadow: -3px 0px 5px rgb(0 67 255 / 50%), -4px 2px 5px rgb(0 67 255 / 50%), -5px 5px 5px rgb(0 67 255 / 50%), -6px 7px 5px rgb(0 67 255 / 50%);
      font-stretch: normal;
      line-height: normal;
      letter-spacing: .5rem;
    }
    .texts {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: 3rem 0;
      box-shadow: -5px -5px 10px 0px #0074ff80, 5px 5px 10px 0px #cc00ff82, inset 5px 5px 10px 0px #0057c1, inset -5px -5px 10px 0px #b500e0;
      padding: 2rem;
      border-radius: 1rem;
      font: 800 normal 16px / 32px Roboto;
      color: rgb(255 255 255 / 75%);
      text-indent: 1.5em;
      text-align: justify;
      .document {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .going {
    width: 150px;
    padding: 10px 1rem;
    border-radius: 5px;
    border: none;
    background: none;
    color: #0008ff;
    box-shadow: 0 0 10px 0 #0005b9, 0 0 10px 0 #b500e0, inset 5px 5px 5px 0 #000486, inset -5px -5px 5px 0px #8e00af;
    transition: all .5s ease-in;
    font-weight: bold;
    font-style: normal;
    &:hover {
      color: #b500e0;
      box-shadow: 0 0 5px 0 #0005b9, 0 0 5px 0 #b500e0, inset 5px 5px 10px 0 #0005b9, inset -5px -5px 10px 0px #b500e0;
    }
  }
  &:after {
    content: " ";
    width: 80%;
    height: 2px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(45deg, #b200ff, #002250);

  }
}


@media screen and (max-width: 1158px) {
  .top__content {
    padding: 1rem;
    .item {
      width: 100%;

    }
    .text {
      .texts {
        padding: 1rem;
      }
    }
  }
}
