<main>
  <canvas #rendererCanvas id="renderCanvas"></canvas>
  <div class="menu">
    <div class="img">
      <img src="assets/images/logo2.webp" alt="">
    </div>
    <div class="buttons__wrapper">
      <div class="button">
        <button routerLink="/jun">Молодіжний оазис</button>
      </div>
      <div class="button">
        <button routerLink="/child">Дитячий оазис</button>
      </div>
      <div class="button">
        <button routerLink="/market">Магазин оазису</button>
      </div>
    </div>
  </div>
</main>
