
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-three-template-primary: mat.define-palette(mat.$indigo-palette);
$ng-three-template-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-three-template-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ng-three-template-theme: mat.define-light-theme((
  color: (
    primary: $ng-three-template-primary,
    accent: $ng-three-template-accent,
    warn: $ng-three-template-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ng-three-template-theme);

/*****************************************************
 * node_modules imports
 *****************************************************/
@import 'node_modules/bootstrap/scss/bootstrap.scss';

/*****************************************************
 * project imports
 *****************************************************/
@import 'variables';
@import 'mixins';

/*****************************************************
 * styles
 *****************************************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  background: black;
}

* {
  list-style: none;
  box-sizing: border-box;
  outline: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  font-family: "Roboto Mono", sans-serif!important;
  height: 80px;
  font-size: 7vw !important;
  margin: 3rem 0!important;
  background: linear-gradient(45deg, #ff00c8 25%, #00b8ff 65%, #011354);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  text-shadow: -3px 3px 7px #0014ff7d;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  background-color: rgb(6, 0, 0);
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(41, 41, 41, 0.5);

}

::-webkit-scrollbar-thumb {
  background-color: rgb(150, 4, 254);
  cursor: pointer;
}

.banner {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  transition: 5s ease-in-out ;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .block {
    position: relative;
    display: block;
    flex: 1 1 5vw;
    height: 10vh;
    animation: animate 2s ease-in-out forwards;
    animation-delay: 1s;
    opacity: 0;
    transition: 1s ease-in;
  }
}

.one {
  right: 0;
}

.second {
  left: 0;
}

@keyframes animate {
  0% {
    transform: translateZ(2000px);
    background-attachment: fixed;
  }
  100% {
    transform: translateZ(0);
    background-image: url('../assets/images/img.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
  }
}


.photo-view {
  background: rgba(0, 0, 0, 0.05);
  mat-dialog-container {
    background: rgba(0, 0, 0, 0.4);
    padding: 0;
  }
}
