mat-toolbar {
  background: rgb(0 0 0 / 50%);
  position: fixed;
  color: white;
  z-index: 20;
  overflow: hidden;
  transition: 1s ease-in-out;
  justify-content: space-between;
  box-shadow: 0 0 20px 0 rgb(255 255 255 / 10%);
  .link {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 1rem;
    cursor: pointer;
  }
  .logo {
    cursor: pointer;
  }
}

.hidden {
  height: 0;
}

.show-hide {
  position: fixed;
  top: 0;
  right: 50%;
  z-index: 21;
}
