mat-toolbar {
  background: none;
  position: relative;
  color: white;
  z-index: 1;
  justify-content: space-between;
  .link {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 1rem;
    cursor: pointer;
  }
  .logo {
    cursor: pointer;
  }
}

.position-absolute {
  position: absolute!important;
}
