<mat-toolbar
  [class.hidden]="isHidden"
>
  <div
    class="logo"
    routerLink="/jun/home"
  >
    <img src="assets/images/logo.webp" alt="logo">
  </div>
  <div
    *ngIf="visibility"
    routerLink="menu"
    class="link"
  >
    <mat-icon>menu_open</mat-icon>
    <span>Меню</span>
  </div>

</mat-toolbar>
<button
  mat-icon-button
  class="show-hide"
  color="accent"
  (click)="isHidden = !isHidden"
>
  <mat-icon
    *ngIf="isHidden"
  >
    arrow_drop_down
  </mat-icon>
  <mat-icon
    *ngIf="!isHidden"
  >
    arrow_drop_up
  </mat-icon>
</button>
