<section class="participants">
  <div *ngIf="dataSource?.participants.length">
    <div class="content">
      <table

        mat-table
        class="full-width-table"
        matSort
        aria-label="Elements"
      >

        <ng-container matColumnDef="name" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ім`я</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Прізвище</th>
          <td mat-cell *matCellDef="let row">{{row?.surname}}</td>
        </ng-container>

        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Вік</th>
          <td mat-cell *matCellDef="let row">{{row?.age}}</td>
        </ng-container>

        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Місто</th>
          <td mat-cell *matCellDef="let row">{{row?.city}}</td>
        </ng-container>

        <ng-container matColumnDef="sex">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Стать</th>
          <td mat-cell *matCellDef="let row">{{row?.sex}}</td>
        </ng-container>

        <ng-container matColumnDef="iBelong">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Деномінація</th>
          <td mat-cell *matCellDef="let row">{{row?.iBelong}}</td>
        </ng-container>

        <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef>Рівень</th>
          <td
            mat-cell
            *matCellDef="let row"
          >
            <span *ngIf="row.itWasJun === 'Ні'">0 - Вперше</span>
            <span *ngIf="row.age < 15 && row.itWasJun !== 'Ні'">1 - Молодша група</span>
            <span *ngIf="row.age >= 15 && row.itWasJun !== 'Ні'">2 - Старша група</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Номер телефону</th>
          <td
            mat-cell
            *matCellDef="let row"
          >
            {{row.phone}}
          </td>
        </ng-container>

        <ng-container
          (copy)="false"
          matColumnDef="star"
          stickyEnd
        >
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item
                (click)="viewFullInfo(row)"
              >
                <mat-icon>
                  visibility
                </mat-icon>
                <span>Переглянути</span>
              </button>
              <button
                mat-menu-item
                (click)="remove(row?.id)"
              >
                <mat-icon>delete</mat-icon>
                <span>Видалити</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div>
      <mat-paginator
        [length]="dataSource?.participants?.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
  <div class="content empty" *ngIf="!dataSource?.participants.length">
    <mat-card-title>
      Поки немає учасників
    </mat-card-title>
  </div>
</section>
