<section class="create">
  <form [formGroup]="form" class="top__content">
    <div style="display: flex; flex-direction: column; align-items: center; gap: 1rem">
      <div *ngIf="!img" class="image item">
        <img (click)="file.click()" src="assets/images/vga.webp" alt="">
      </div>
      <input type="file" #file style="display:none;" (change)="loadImg($event)">
      <div (click)="file.click()" *ngIf="img" class="image item">
        <img [src]="img" alt="">
      </div>
      <button
        [disabled]="isDisableDownload"
        (click)="load()"
        class="going"
        style="margin: 0 auto; display: block"
      >
        Завантажити
      </button>
    </div>

    <div class="text item">
      <mat-form-field>
        <mat-label>Назва</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
      <div class="name">
        {{form.value.title}}
      </div>
      <div class="texts">
        <div class="mat-form-field-flex">
          <mat-form-field>
            <mat-label>Інформація</mat-label>
            <textarea matInput #par></textarea>
          </mat-form-field>
          <button (click)="addInfo(par)" mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let p of paragraphs; index as i" hideToggle>
            <mat-expansion-panel-header>
              {{p}}
            </mat-expansion-panel-header>
            <div class="mat-form-field-flex">
              <mat-form-field color="primary">
                <textarea
                  class="par"
                  matInput
                  type="text"
                  required
                  autocomplete="off"
                  [value]="p"
                ></textarea>
              </mat-form-field>
              <button
                (click)="red(i)"
                mat-icon-button
              >
                <mat-icon class="mat-24">edit</mat-icon>
              </button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <div class="document">
          <mat-form-field>
            <mat-label>Посилання на документ</mat-label>
            <input matInput formControlName="document">
          </mat-form-field>
        </div>
        <div class="price">
          <mat-form-field>
            <mat-label>Ціна</mat-label>
            <input matInput formControlName="price">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Амін збір</mat-label>
            <input matInput formControlName="additionalPrice">
          </mat-form-field>
        </div>
        <div class="date">
          <mat-form-field appearance="outline">
            <mat-label>Оазис відбуватиметься</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate formControlName="startDate" placeholder="Початок">
              <input matEndDate formControlName="endDate" placeholder="Кінець">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
        <div class="it__will">
          <p style="text-align: center">
            Початок о 17:00 {{form.value?.startDate | date: 'M/d/yy'}}, завершення о 12:00 {{form.value?.endDate | date: 'M/d/yy'}}
          </p>
          <p>
            Батьки мають самостійно подбати про вчасний доїзд на табір і повернення до дому своєї дитини.
          </p>
        </div>
      </div>
      <button
          (click)="createEvent()"
          [disabled]='!form.valid'
          class="going"
      >
        Створити
      </button>
    </div>
  </form>

</section>
