.create {
  min-height: 100vh;
}

img {
  width: 100%;
  height: 100%;
}

.top__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  flex-wrap: wrap;
  position: relative;
  .item {
    width: 50%;
  }
  .image {
    max-width: 500px;
    min-width: 300px;
    overflow: hidden;
    border-radius: 3rem;
    box-shadow: -5px -5px 30px 5px rgb(169 3 3 / 50%), 5px 5px 30px 5px #0900908f;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    .name {
      font-size: 2rem;
      text-align: center;
      text-transform: uppercase;
      font-weight: 800;
      color: rgba(255, 255, 255, 0.5);
      text-shadow: 1px 1px 5px rgb(0 67 255 / 50%), 2px 2px 5px rgb(0 67 255 / 50%), 3px 3px 5px rgb(0 67 255 / 50%), 4px 4px 5px rgb(0 67 255 / 50%);
      font-stretch: normal;
      line-height: normal;
      letter-spacing: .5rem;
    }
    .texts {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: #fff;
      margin: 3rem 0;
      box-shadow: -5px -5px 10px 0px #0074ff80, 5px 5px 10px 0px #cc00ff82, inset 5px 5px 10px 0px #0057c1, inset -5px -5px 10px 0px #b500e0;
      padding: 2rem;
      border-radius: 1rem;
      font: 800 normal 16px / 32px Roboto;
      text-align: justify;
      .document {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .going {
    width: 150px;
    padding: 10px 1rem;
    border-radius: 5px;
    border: none;
    background: none;
    color: #b500e0;
    box-shadow: 0 0 20px 0 rgba(3 72 164 / 50%), 0 0 20px 0 rgb(181 0 224 / 50%), inset 5px 5px 5px 0 #0348a4, inset -5px -5px 5px 0px #8e00af;
    transition: all .5s ease-in;
    font-weight: bold;
    font-style: normal;
    cursor: pointer;
    &:hover {
      color: rgb(3 72 164);
      box-shadow: 0 0 10px 0 rgba(181, 0, 224, 0.5), 0 0 10px 0 rgba(3 72 164 / 50%) , inset 5px 5px 10px 0  #b500e0, inset -5px -5px 10px 0px rgb(3 72 164);
    }
  }
  &:after {
    content: " ";
    width: 80%;
    height: 2px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(45deg, #b200ff, #002250);

  }
}

@media screen and (max-width: 1158px) {
  .top__content {
    padding: 1rem;
    .item {
      width: 100%;

    }
    .text {
      .texts {
        padding: 1.5rem;
      }
    }
  }
}

mat-form-field {
  width: 100%;
  max-width: 100%;
}

textarea {
  text-indent: 0;
  width: 100%;
  min-height: 70px;
  overflow: scroll;
}

.mat-expansion-panel {
  background-color: #0e0013;
  box-shadow: 0 0 10px 0 #9c27b0;
}
