<section class="create">
  <form [formGroup]="form" class="top__content">
    <div class="image item">
      <img src="assets/images/vga.webp" alt="">
    </div>
    <div class="text item">
      <mat-form-field>
        <mat-label>Назва</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
      <div class="name">
        {{form.value.title}}
      </div>
      <div class="texts">
        <div class="mat-form-field-flex">
          <mat-form-field>
            <mat-label>Інформація</mat-label>
            <textarea matInput #par></textarea>
          </mat-form-field>
          <button (click)="addInfo(par)" mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let p of paragraphs; index as i" hideToggle>
            <mat-expansion-panel-header>
              {{p}}
            </mat-expansion-panel-header>
            <div class="mat-form-field-flex">
              <mat-form-field color="primary">
                <textarea
                  class="par"
                  matInput
                  type="text"
                  required
                  autocomplete="off"
                  [value]="p"
                ></textarea>
              </mat-form-field>
              <button
                mat-icon-button
              >
                <mat-icon class="mat-24">edit</mat-icon>
              </button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <div class="document">
          <p>
            Тут можна завантажити
            <button mat-button>
              <a>
                Документи
              </a>
            </button>
          </p>
        </div>
        <div class="price">
        </div>
        <div class="it__will">
          <p style="text-align: center">
            Початок о 17:00, завершення о 12:00
          </p>
          <p>
            Батьки мають самостійно подбати про вчасний доїзд на табір і повернення до дому своєї дитини.
          </p>
        </div>
      </div>
      <button
        class="going"
      >
        Я їду
      </button>
    </div>
  </form>

</section>
