<section class="contacts">
  <div class="contact">
    <div class="contact__title">Контакт</div>
    <div class="contact__sub__title">
      Відповідальна за молодіжні оазиси в Україні:
    </div>
    <img class="contact__img" src="assets/images/sestra.webp" alt="">
    <div class="name contact__sub__title">
      Ім'я: с. Божена
    </div>
    <div class="phone contact__sub__title">
      Телефон: +380639832197
    </div>
    <div class="email contact__sub__title">
      Email: biuroshkoly@gmail.com
    </div>
    <div class="contact__social">
      <button mat-icon-button>
        <img src="assets/images/instagram.webp" alt="">
      </button>
      <button mat-icon-button>
        <img src="assets/images/facebook.webp" alt="">
      </button>
    </div>
  </div>

</section>
