.mat-drawer {
  background-color: #0e0013;
  mat-toolbar {
    background-color: #9c27b0;
  }
  .mat-expansion-panel {
    background-color: #0e0013;
  }
}
mat-sidenav-content {
  background-color: #0e0013;
}
