.testimony {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  #box {
    position: relative;
    width: 250px;
    height: 40vh;
    transform-style: preserve-3d;
    transition: all 1s ease-in;
    transform: perspective(1000px) rotateY(0deg);
    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-origin: center;
      transform-style: preserve-3d;
      transform: rotateY(calc(var(--i) * 120deg)) translateZ(400px);
      -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, #0004);
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  button {
    position: absolute;
    top: 50%;
    width: auto;
    height: auto;
    z-index: 10;
    .mat-icon {
      width: auto;
      height: auto;
      font-size: 2.5rem;
    }
  }
  .right {
    right: 0;
  }
  .left {
    left: 0;
  }
}



