<section
  class="event"
  *ngIf="event"
>
  <div class="top__content">
    <div class="image item">
      <img [src]="event.image" alt="">
    </div>
    <div class="text item">
      <div class="name">
        {{event.title}}
      </div>
      <div class="texts">
        <p *ngFor="let p of event.info">
          {{p}}
        </p>

        <div class="document">
          <p>
            Тут можна завантажити
            <button mat-button>
              <a [href]="event.document">
                Документи
              </a>
            </button>
          </p>
        </div>
        <div class="price">
         {{event.price}}
        </div>
        <div class="it__will">
          <p style="text-align: center">
            Початок {{event.startDate}} о 17:00, завершення {{event.endDate}} о 12:00
          </p>
          <p>
            Батьки мають самостійно подбати про вчасний доїзд на табір і повернення до дому своєї дитини.
          </p>
        </div>
      </div>
      <button
        (click)="goTo()"
        class="going"
      >
         Я їду
      </button>
    </div>
  </div>
</section>

<section class="event empty" *ngIf="!event">
  <mat-spinner></mat-spinner>
</section>
