<section
  class="event"
  *ngIf="event"
>
  <div class="top__content">
    <div class="image item">
      <img [src]="event.image" alt="">
    </div>
    <div class="text item">
      <div class="name">
        {{event.title}}
      </div>
      <div class="texts">
        <p *ngFor="let p of event.info">
          {{p}}
        </p>

        <div class="document">
          <p>
            Тут можна завантажити
            <button mat-button>
              <a [href]="event.document">
                Документи
              </a>
            </button>
          </p>
        </div>
        <div class="price">
          Ціна: {{event.price}} <span *ngIf="event.additionalPrice">адмін збір {{event.additionalPrice}}</span>, якщо немає можливості заплатити дзвоніть с. Божені.
        </div>
        <div class="it__will">
          <p style="text-align: center">
            Початок програми {{event.startDate | date: 'd MMMM'}} о {{event.startTime}}, завершення {{event.endDate | date: 'd MMMM'}} о {{event.endTime}}.
          </p>
          <p>
            {{event.importantly}}
          </p>
        </div>
      </div>
      <div [ngSwitch]="event.statusReg">

        <button
          *ngSwitchCase="'Active'"
          (click)="goTo()"
          class="going"
        >
          Я їду
        </button>
        <button
          disabled
          *ngSwitchCase="'Stop'"
          class="going"
        >
          Реєстрацію призупинено
        </button>
        <button
          disabled
          *ngSwitchCase="'End'"
          class="going"
        >
          Реєстрацію завершено
        </button>
      </div>

    </div>
  </div>
</section>

<section class="event empty" *ngIf="!event">
  <mat-spinner></mat-spinner>
</section>
