<section class="tiles">
  <h1
    [class.departure]="departure"
    class="message"
  >Спогади - це частинки тебе.</h1>
  <div class="preview">
    <div
      [class.departure]="departure"
      class="banner one"
      #one
    >
      <div class="block"></div>
    </div>
    <div
      [class.departure]="departure"
      class="banner second"
      #second
    >
      <div class="block"></div>
    </div>
  </div>
  <div
    [class.show]="departure"
    class="tiles-container"
  >
    <div
      *ngFor="let photo of photos, let i = index"
      class="tile"
      (click)="showPhotoWindow(photo)"
    >
      <img [src]="photo.tile.src" alt="tile">
      <div
        class="more"
      >
        <mat-icon>
          collections
        </mat-icon>
      </div>
    </div>
  </div>
</section>
