<section
  class="menu"
>
  <div [@light]="state" class="menu-container" >
    <div [@top-buttons]="state" class="top-menu-buttons button-wrapper">
      <div
        [routerLink]="[path, 'about']"
        class="button btn-grad"
      >
        Про нас
      </div>
      <div
        [routerLink]="[path ,'testimony']"
        class="button btn-grad"
      >
        Свідчення
      </div>
      <div
        [routerLink]="[path, 'gallery']"
        class="button btn-grad"
      >
        Галерея
      </div>
    </div>
    <div [@bottom-buttons]="state" class="bot-menu-buttons button-wrapper">
      <div
        [routerLink]="[path, 'home']"
        class="button btn-grad"
      >
        Головна
      </div>
      <div
        [routerLink]="[path, 'contacts']"
        class="button btn-grad"
      >
        Контакти
      </div>
      <div
        [routerLink]="['/preview']"
        class="button btn-grad"
      >
        Інше
      </div>
    </div>
  </div>

</section>
