<mat-dialog-content>
  <h3>Поділитися подією</h3>
  <div class="button-wrapper">
    <button
      (click)="telegram()"
      mat-icon-button
    >
      <img src="assets/icons/telegram-plane-brands.svg" alt="">
    </button>
    <button
      (click)="facebook()"
      mat-icon-button
    >
      <img src="assets/icons/facebook-f-brands.svg" alt="">
    </button>
    <button mat-icon-button>
      <img src="assets/icons/copy-solid.svg" alt="">
    </button>
  </div>
  <div>
    <input disabled type="text">
  </div>
</mat-dialog-content>
