<section class="social__cards">
  <div class="cards__wrapper">
    <a href="https://www.instagram.com/oasis.ukraine/" class="card">
      <img src="assets/icons/instagram-brands.svg" alt="">
    </a>
    <a href="https://www.tiktok.com/@oasis.ukraine" class="card">
      <img src="assets/icons/tiktok-brands.svg" alt="">
    </a>
    <a href="https://www.youtube.com/channel/UCdajs87gys0bxDV72Dfgtxg" class="card">
      <img src="assets/icons/youtube-brands.svg" alt="">
    </a>
  </div>
</section>
